* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #f8fafc, #edf2f7);
    text-align: center;
}

.icon {
    width: 35px;
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
}

@media(max-width:768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}

@media(min-width:769px) and (max-width:1024px) {
    .cards {
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }
}

@media(max-width:768px) {
    .step-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .step {
        width: 90%;
    }
}

.features {
    padding: 60px 20px;
}

.features h1 {
    font-size: 28px;
    color: #2d3748;
    margin-bottom: 10px;
}

.features p {
    color: #718096;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    max-width: 420px;
    min-height: 120px;
    padding: 20px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translatey(-5px);
    transform:scale(1.1);
}

.card h3 {
    color: #2d3748;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #718096
}

.steps {
    padding: 80px 20px;
}

.steps h1 {
    font-size: 28px;
    color: #2d3748;
    margin-bottom: 10px;
}

.steps p {
    color: #718096;
    margin-bottom: 50px;
}

.step-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.step {
    width: 200px;
    text-align: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0F3D3E;
    color: white;
    font-weight: bold;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle.active {
    background-color: #f4a261;
}

.card:nth-child(1),
.card:nth-child(2).circle {
    flex: 0 0 40%;
}

.card:nth-child(3) {
    flex: 0 0 40%;
}

.card::shadow .step h3 {
    color: #2d3748;
    margin-bottom: 10px;
}

.step p {
    font-size: 14px;
    color: #718096;
}

.Start {
    margin-top: 40px;
    padding: 12px 30px;
    border: none;
    background-color: #0F3D3E;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
